.dkEaAU {
    background-color: black !important;
    display: hidden;
}
.rec-arrow {
    color: white;
}
.rec-arrow:disabled {
    color: white;
}
.rec-arrow:enabled {
    color: white;
}
.rec .rec-pagination {
    color: white !important;

}
.rec .rec-dot_active {
    background-color: teal !important;
    border-color: teal !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px 2px !important;

}